<!DOCTYPE html>
<html>
  <head>
    <title>TaskProjectAppFoundation</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div class="logo">
    <%= image_tag("logos/logo.png", width: '150px')%>
  </div>


  <%= render "shared/nav" %>
  <!--from the suggestion of deivse, we put content in partial-->
  <%= render "shared/alerts" %>



  <body>
    <%= yield %>
  </body>
</html>
